<!--
  Chrome AppSniffer by Chieffancypants (forked from Bao Nguyen)

  Author  : https://github.com/chieffancypants
  Project : https://github.com/chieffancypants/chromesniffer
  Issues  : https://github.com/chieffancypants/chromesniffer/issues
  License : GPLv3
-->

<html ng-app="chromesniffer" ng-csp>
<head>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
  <style type="text/css">
    #container {
      width: 400px;
      margin: 15px;
    }
    ul.list-unstyled {
      padding: 5px;
      margin: 0;
    }
    .thumbnail {
      display: inline-block;
      margin: 5px;
      width: 26px;
    }
    .app-title {
      font-size: 16px;
    }
    .app a {
      position: relative;
      top: 2px;
    }
    .panel-group .panel{
      margin-bottom: 15px;
    } 
  </style>
</head>
<body ng-controller="popup">
  <div id="container">
    <form class="form-group">
      <input id="filter-input"
        type="search"
        class="form-control"
        placeholder="Search for an app below..."
        ng-model="q"
      />
    </form>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default"
          ng-repeat="(category,apps) in apps | filter:q">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"
                data-parent="#accordion"
                ng-href="#collapse-{{$index}}"
                ng-bind="category | categoryName">
              </a>
            </h4>
          </div>
          <div id="collapse-{{$index}}"
            class="panel-collapse collapse in">
            <ul class="panel-body list-unstyled list-inline">
              <li class="app" ng-repeat="app in apps">
                <img class="thumbnail" ng-src="apps/{{app.icon}}"/>
                <a class="app-title"
                  target="_blank"
                  ng-href="{{ app.url }}"
                  ng-bind="app.title">
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>


  </div>

  <script type="text/javascript" src="lib/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="common.js"></script>
  <script type="text/javascript" src="popup.js"></script>
</body>
</html>




